<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.mapper.SysUserMapper">

    <resultMap type="com.nsu.pojo.SysUser" id="SysUserMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="username" column="USERNAME" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectUserByUsername" resultType="com.nsu.pojo.SysUser">
        select * from sys_user where username = #{username}
    </select>


</mapper>

