<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.mapper.SysUserMapper">

    <resultMap type="com.nsu.pojo.SysUser" id="SysUserMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="username" column="USERNAME" jdbcType="VARCHAR"/>
        <result property="nickname" column="NICKNAME" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP"/>
        <result property="enabled" column="ENABLED" jdbcType="INTEGER"/>
        <result property="notExpired" column="NOT_EXPIRED" jdbcType="INTEGER"/>
        <result property="accountNotLocked" column="ACCOUNT_NOT_LOCKED" jdbcType="INTEGER"/>
        <result property="credentialsNotExpired" column="CREDENTIALS_NOT_EXPIRED" jdbcType="INTEGER"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="CREATE_USER" jdbcType="INTEGER"/>
        <result property="updateUser" column="UPDATE_USER" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectUserByUsername" resultType="com.nsu.pojo.SysUser">
        select * from sys_user where username = #{username}
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_user
        <set>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="accountNonExpired != null">
                account_non_expired = #{accountNonExpired},
            </if>
            <if test="accountNonLocked != null">
                account_non_locked = #{accountNonLocked},
            </if>
            <if test="credentialsNonExpired != null">
                credentials_non_expired = #{credentialsNonExpired},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>

