<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsu.mapper.BizBlogMapper">

    <resultMap type="com.nsu.entity.BizBlog" id="BizBlogMap">
        <result property="uid" column="uid" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,title,summary,content,create_time,update_time,author
    </sql>

    <!--查询所有，分页显示-->
    <select id="selectAllByMap" resultMap="BizBlogMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from biz_blog

    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="BizBlogMap">
        select
          uid, title, summary, content, create_time, update_time, author
        from biz_blog
        where uid = #{uid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BizBlogMap">
        select
          uid, title, summary, content, create_time, update_time, author
        from biz_blog
        <where>
            <if test="uid != null and uid != ''">
                and uid = #{uid}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="summary != null and summary != ''">
                and summary = #{summary}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="author != null and author != ''">
                and author = #{author}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from biz_blog
        <where>
            <if test="uid != null and uid != ''">
                and uid = #{uid}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="summary != null and summary != ''">
                and summary = #{summary}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="author != null and author != ''">
                and author = #{author}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="uid" useGeneratedKeys="true">
        insert into biz_blog(title, summary, content, create_time, update_time, author)
        values (#{title}, #{summary}, #{content}, #{createTime}, #{updateTime}, #{author})
    </insert>

    <insert id="insertBatch" keyProperty="uid" useGeneratedKeys="true">
        insert into biz_blog(title, summary, content, create_time, update_time, author)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.title}, #{entity.summary}, #{entity.content}, #{entity.createTime}, #{entity.updateTime}, #{entity.author})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="uid" useGeneratedKeys="true">
        insert into biz_blog(title, summary, content, create_time, update_time, author)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.title}, #{entity.summary}, #{entity.content}, #{entity.createTime}, #{entity.updateTime}, #{entity.author})
        </foreach>
        on duplicate key update
        title = values(title),
        summary = values(summary),
        content = values(content),
        create_time = values(create_time),
        update_time = values(update_time),
        author = values(author)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update biz_blog
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from biz_blog where uid = #{uid}
    </delete>

</mapper>

